<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="strat-gen-output">
			<table>
				<tr>
					<td>
						Seed
					</td>
					<td>
						j99d4#13h5p1z2@3Z4
					</td>
				</tr>
				<tr>
					<td>
						Pistol
					</td>
					<td>
						Dual Berettas
					</td>
				</tr>
				<tr>
					<td>
						Weapon
					</td>
					<td>
						AK47 / M4A4
					</td>
				</tr>
				<tr>
					<td>
						Grenade(s)
					</td>
					<td>
						Smoke Grenade, Incendiary Grenade / Molotov, 
					</td>
				</tr>
				<tr>
					<td>
						Util(s)
					</td>
					<td>
						Kevlar and Helmet, Zeus, 
					</td>
				</tr>
				<tr>
					<td>
						Strat
					</td>
					<td>
						Mid Stack: <br/>On T  side: go mid every round. <br/>On CT side: Stack mid and wait for bomb plant then rush whatever site is planted at.<br/>
					</td>
				</tr>
				<tr>
					<td>
						Difficulty
					</td>
					<td>
						99
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
